body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
}

.site-container {
  min-height: 100vh;
}

.products {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.product {
  border: 1px rgb(50, 50, 50) solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.card-body a {
  text-decoration: none;
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: rgb(17, 6, 139);
}

.reviews {
  font-size: 14px;
}

.img-large {
  max-width: 100%;
}

.app-navbar {
  background-color: rgb(95, 22, 125);
  color: white;
}

a.navbar-brand {
  color: white;
  font-family: 'Modak', Courier, monospace;
  font-size: xx-large;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
  color: white;
  text-decoration: none;
}

#side-link {
  color: black;
}

.nav-link {
  color: #ffff;
}

#basic-nav-dropdown {
  color: #ffff;
}

.navbar-text,
.navbar {
  font-family: 'Verdana', 'Courier New', Courier, monospace;
  font-size: large;
  color: white;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.button-form {
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(95, 22, 125);
  border-color: rgb(95, 22, 125);
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

.adjust-button {
  margin-right: 20px;
}

.side-navbar {
  background-color: rgb(230, 224, 242);
  color: black;
}
